@{
    ViewData["Title"] = "CRM";
}

<!--banner-->

<div id="banner" class="section-padding">

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="small bold">
                    <a href="/">
                        CRM
                    </a>
                </h1>
                <p class="big">مدیریت مشتریان </p>
                <a href="#" class="btn btn-banner">بیشتر<i class="fa fa-send"></i> </a>
            </div>
        </div>
    </div>
</div>

<!---cta -->
<div class="cta-1">

    <div class="container wow bounceInLeft" data-duration="2" data-dely="1s">

        <div class="row text-center white ">

            <h1 class="cta-title"> به سایت ما خوش آمدید</h1>
            <p class="cta-sub-title">سیستم مدیریت مشریان</p>
        </div>
    </div>
</div>

<!----portfolio --->

@*<div id="portfolio">
    <div class="container ">
        <div class="row">
            <div class="page-title text-center">
                <h1>آموزش های ما</h1>
                <p>متن  توضیحات</p>
                <hr class="line-bottom" />
            </div>
            <div class="port-sec">
           
            </div>
        </div>
    </div>
</div>*@

<!---cta--->

<@*div class="cta-1">
    <div class="container">
        <div class="row text-center">
            <h3>طراحی واکنشگرای سایت های خود را به ما یسپارید</h3>
            <a href="#" class="btn btn-default">بیشتر</a>
        </div>
    </div>
</div>*@